.superRange{
    font-size: 60px;
    color: 'red',
}

.doubleSuperRange{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.doubleSuperRange > div:first-of-type{
    display: flex;
    justify-content: space-between;
}

.doubleSuperRange > div:first-of-type > span{
   font-size: 45px;
   color: aqua;
}

.doubleSuperRange > div:first-of-type > span:last-of-type{
    text-align: right;
}

.values{
    display: 'block';
    margin-left: 15px;
    width: 80px;
    float: left;
}