.message{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 270px;
    margin: 10px;
    padding: 0px;
    border-radius: 7px;
}

    .avatar{
        position: relative;
        width: 30%;
    }

        .avatar > :first-child{
            position: absolute;
            width: 75px;
            height: 75px;
            bottom: 0px;
            left: 5px;
            border-radius: 50%;
            border: 1px solid black;
            background-color: transparent;
        }

    .textblock{

        width: 60%;
        display: flex;
        background-color: rgb(48, 47, 47);
        border: 10px;
    }

     .textblock > :first-child{
         flex-grow: 1;
     }