.formWrap{
    width: 180px;
    margin: 0px auto;
}

.formWrap > form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 20px 0px;
    padding: 10px;
    background-color: rgba(175, 175, 175, 0.411);
}

.formWrap > form > label{
    cursor: pointer;
    margin-bottom: 15px;
}

.formWrap > .popup{
    position: relative;
    background-color: bisque;
    cursor: pointer;
}

.formWrap > .popup:hover > .info{
    transition: all;
    transition-duration: 0.4s;
    opacity: 1;
}

.info{
    transition: all;
    transition-duration: 0.4s;
    opacity: 0;
    width: 100%;
    padding: 5px;
    color: cornsilk;
    position: absolute;
    left: calc(100% + 30px);
    background-color: rgba(75, 143, 7, 0.486);
}