.affairs{
    width: fit-content;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    background-color: cornflowerblue;
}

.affairField{
    color: white;
    text-shadow: 2px 2px 3px #f0b4b4;
}

.deleteButton{
    width: 35px;
    border-radius: 5px;
    background-color: tomato;
    margin-left: 25px;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.deleteButton:hover{
    cursor: pointer;
    background-color: rgb(255, 121, 103);
}
