.main {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://wallbox.ru/resize/2560x1440/wallpapers/main2/201738/fon-stena-graffiti-granz-freska-grafitti-melburn-vallpaper-strit-art.jpg');
}